#main-bkg {
    width: 100vw;
    min-height: 92vh;
    /* background: #263238; */
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-card-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#main-title {
    color: #263238;
    color: #ff5733;
    /* font-weight: 800; */
    font-size: 24px;
    margin-bottom: 2vh;
    /* margin-right: 1vw; */
    width: 100%;
}

@media screen and (min-width: 992px) and (max-width: 1281px) {
    .contact-card-container {
        width: 75vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .contact-card-container {
        width: 80vw;
    }
}

@media screen and (max-width: 767px) {
    .contact-card-container {
        width: 100vw;
        align-items: center;
    }

    #main-bkg {
        padding-top: 15vh;
        /* padding-bottom: 25vh; */
    }

    #main-title {
        /* margin: 20px; */
        text-align: center;
    }
}

@media screen and (min-width: 992px) and (max-width: 1281px) {
    #main-title {
        font-size: 21px;
    }

    input.btn {
        padding: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 767px) and (orientation: landscape) {
}
