body {
    background-color: #ddd;

}

.flex-center {
    align-items: center;
    /* justify-content: start; */
}

#main-container {
    flex-direction: row;
    /* margin-top: 50px; */
    width: 100vw;

}

.side-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.sub-container {
    /* min-height: 25%; */
    /* height: 25%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 10vh; */
}

#right-container {
    /* padding-right: 5vw; */
    background-color: #ccf;
}

#left-container {
    /* padding-left: 5vw; */
    background-color: white;

}

.logo-main {
    width: 180px;
    /* margin: auto; */
    margin-bottom: 5vh;

    transition: all 0.2s;
}

.link-icon {
    margin: 5px;
    margin-left: 20px;
}

.large-title {
    font-size: 26px;
    transition: all 0.5s;
}



#company-name {
    font-size: 16px;
    color: white;
}

#panel-name {
    font-size: 21px;
    font-weight: 500;
    color: white;

}

#title-container {
    /* height: 20%; */
    /* margin-top: 5vh; */

}



#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* height: inherit; */

}

#bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-info {
    /* margin-bottom: 5vh; */
    color: #3498db;


}

.staff-name {
    font-size: 21px;
    font-weight: 900;
    color: #3498db;
}

#dear-colleague {
    font-size: 12px;
}

.loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#not-you {
    font-size: 12px;
}

.form-title {
    width: 100%;
    background-color: #28B463;
    background-color: darkorange;
    padding: 10px;
    color: white;

    /* border-radius: 25px; */

}

.login-form {
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: center;
    margin-bottom: 1vh;
    width: 100%;
    margin: 5%;
    /* padding: 5%; */
}

.input-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1vh;
    align-content: start;
    align-items: center;
    /* justify-content: start; */
}

.hidden {
    display: none;
}


.input-label {
    /* text-align: left; */
    /* text-align: left;
    width: 25%; */
    font-size: 12px;
    font-weight: 500;
    color: #28B463;
    margin: 0;
}

.input-auth {
    text-align: center;
    border-color: #eee;
    padding: 0;
    line-height: 3;
    font-size: 19px;
    font-weight: 300;
    direction: ltr;
    width: 50%;
}

.error-block {
    transition: all 0.5s;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-message {
    color: tomato;
    font-size: 12px;
    font-weight: 500;
}

.invisible {
    /* visibility: hidden; */
    height: 0;
}

.btn-login {
    background-color: #28B463;
    width: 70%;
    max-width: 25%;
    color: white;
    border-radius: 25px;
    padding: 10px;
    transition: all 0.5s;

}

.btn-login:hover {
    color: inherit;
    width: 85%;
}

.button-box {
    align-items: center;
    margin-top: 50px;
}

@media screen and (min-width: 992px) and (max-width: 1281px) {
    #main-container {}
}

@media screen and (max-width: 1281px) {
    #main-container {
        flex-direction: column;
        /* width: 90vw; */
    }

    .side-container {
        height: inherit;
        width: 90vw;
    }

    #company-name,
    #panel-name {
        color: inherit
    }

    #right-container {
        padding: 0;
        background-color: initial;
        flex: 0.5;
    }

    #left-container {
        padding: 0;
        background-color: initial;
        justify-content: start;

    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 767px) {


    #company-name {
        font-size: 21px;
    }

    .logo-main {
        width: 40vw;
    }
}

@media screen and (max-width: 767px) and (orientation:landscape) {}
