.items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-item {
    /* flex: 1; */
    /* margin: 10px; */
    margin-right: 1vw;
    margin-left: 1vw;
}

.menu-item:hover {
}

a.menu-item {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #ff5733;
    padding: 1px;
    opacity: 0.8;
    transition: all 0.5s;
}

a.menu-item:hover {
    opacity: 1;
    /* font-size: 21px; */
    /* font-weight: 400; */
    /* color: darkblue; */
}

@media screen and (max-width: 767px) {
    .items-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 15px;
        width: inherit;
    }

    .menu-item {
        margin: inherit;
        margin-bottom: 10px;
    }

    a.menu-item {
        font-size: 14px;
        width: 100%;
        text-align: center;
        color: whitesmoke;
    }

    a.menu-item:hover {
        font-weight: 400;
        /* color: darkblue; */
    }
}
