.staff-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin-right: 15px;
    color: white;
}

.nav-items-container {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
    /* position: sticky;
    top: 0;
    z-index: 50; */
}

#btn-logout {
    background-color: inherit;
    border-color: #3490dc;
}

.panel-title-text {
    font-size: 14px;
    font-weight: 400;
    /* color: white; */
}

.navbar-item-text {
    color: white;
    font-weight: bold;
}

.page-content {
    background-color: whitesmoke;
    /* background-color: var(--dark); */
    min-height: 100vh;
}

.main-content {
    background: var(--titlebkg);
    padding: 2rem;
}

.content {
    /* background-color: whitesmoke; */
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1281px) {
}

@media screen and (min-width: 992px) and (max-width: 1281px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 767px) and (orientation: landscape) {
}

@media screen and (max-width: 639px) {
    .panel-title-text {
        display: none;
    }
}
