.staff-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    margin-left: 15px;
}

.panel-title {
    margin-right: 15px;

}



.staff-name {
    font-weight: 400;
}

.staff-job-title {
    font-size: 10px;
}
