.main-menu-container {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;

    background-color: #fafafa;
    transition: all 0.5s;
}

.main-menu-container.visible {
    visibility: visible;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    opacity: 0.9;
}

#collapser-container {
    width: 50vw;
    top: 0;
    position: absolute;
    background: aliceblue;
    height: 8vh;
}

.menu-logo {
    width: 150px;
}

.collapser {
    width: 20px;
    fill: #636b6f;
}

.collapser:hover {
    /* width: 25px; */
    fill: #333;
}

.menu-around {
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;

}

.menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222;
    color: white;
    /* margin: 50px; */
}



.menu-item {
    /* flex: 1; */
    margin: 10px;
}

.menu-item:hover {}

a.menu-item {
    text-decoration: none;
    font-size: 21px;
    color: inherit;
}

a.menu-item:hover {
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    /* color: darkblue; */
}

@media screen and (max-width: 767px) {
    .menu-items {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin: 15px;
    }

    .menu-item {
        margin: inherit;
        margin-bottom: 10px;
    }

    a.menu-item {
        font-size: 14px;
        color: inherit;
        width: 70%;
        text-align: center;
    }

    a.menu-item:hover {
        font-weight: 400;
        color: darkblue;
    }
}
