.main-menu-container {
    display: flex;
    /* display: none; */
    flex-direction: column;
    visibility: hidden;
    /* position: fixed; */
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    height: 0px;
    width: 0px;

    /* background-color: #fafafa; */
    transition: all 0.5s;
}

.main-menu-container.visible {
    visibility: visible;
    z-index: 60;
    /* height: 100%; */
    width: 100%;
    /* background-color: #333; */
    opacity: 0.9;
}

#menu {}

#collapser-container {
    width: 50vw;
    top: 0;
    position: absolute;
    background: aliceblue;
    height: 8vh;
}

.menu-logo {
    width: 150px;
}

#menucollapser {
    width: 20px;
    fill: #636b6f;
}

.collapser:hover {
    /* width: 25px; */
    fill: #333;
}

.menu-items {
    display: none;
}

.menu-around {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;

}
