.card-list-base {
    align-items: flex-end;
}

.card-list-base.single-column {
}

.card-container {
    width: 100%;
    padding: 2rem;
    border-bottom: 1px solid var(--primaryDarkColor);
    color: var(--primaryDarkColor);
    /* margin-bottom: 1rem; */
    justify-content: space-between;
    align-items: center;
    transition: all 600ms linear;
}

.card-container.basic {
    /* min-height: 15vh; */
    align-items: normal;
    transition: all 200ms ease;
}

.card-container.expanded {
    margin-top: 1rem !important;
    border-bottom: 1px solid whitesmoke;
    background-color: #dedede;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    /* border-radius: 0.4rem 0.4rem 0 0; */
}

.card-container.expanded .card-title {
    color: var(--secondaryColor);
    /* margin-bottom: 1rem; */
    flex-grow: 1;
}

.card-container.expanded .card-title-box {
    flex-direction: row !important;
}

.card-container.selected {
    background: #bbb;
    /* color: whitesmoke; */
    border-bottom: 1px solid #bbb;
    margin-top: 0.25rem !important;
}

.card-container.sub-card {
    /* background-color: #efefef; */
    background-color: #dedede;
    border-bottom: 1px solid #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sub-cards-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    /* padding-bottom: 1rem;
    padding-top: 1rem; */

    padding: 1rem;

    width: 100%;
    border-bottom: 1px solid var(--secondaryColor);
}

.card-title-box.basic {
    flex: 1;
}

.card-title-box.basic {
    flex: 0.5;
    flex-grow: 1;
}

.card-title {
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    align-self: flex-start;
    /* color: var(--primaryDarkColor); */
    margin: 0;
}
.card-title.basic {
    /* margin-bottom: 3rem; */
}

.sub-card .card-title {
    font-weight: normal;
}
.card-info-box {
    height: 100%;
    background-color: #eee;
    margin-top: 3rem;
}

.card-btn-set.basic {
    align-self: flex-start;
}

.card-operation-btn svg {
    fill: currentColor;
    opacity: 0.8;
    transition: transform 400ms linear !important;
}

.card-operation-btn:hover svg {
    opacity: 1;
    fill: var(--hoverColor);
}

.card-operation-btn.active svg {
    fill: var(--secondaryColor);
}
.card-operation-btn.active:hover svg {
    fill: var(--hoverColor);
    transition: none;
}

.active svg {
    transform: rotate(180deg);
    transition: all 500ms linear;
}

.basic-card-title-tail {
    font-weight: normal;
}
.basic-card-title-complement {
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 0.5rem;
    color: var(--linkedTagColor);
}

[class*="child-card"] {
    border-bottom: 1px solid var(--secondaryColor);
}
[class*="child-card"] .card-title {
    flex-grow: 1;
    margin-bottom: 0;
}
[class*="child-card"] .card-title-box {
    flex-direction: row !important;
}

.child-card0 {
    width: 90%;
    padding: 1.5rem;
}
.child-card1 {
    width: 80%;
    padding: 1rem;
}

.child-card2 {
    width: 70%;
    padding: 1rem;
}

.last-row {
    border-bottom: 2px solid var(--secondaryColor);
}

#basic-card-free-fill-area {
    justify-content: start;
}

#basic-card-free-fill-area p {
    text-align: start;
}

#spec-card {
    /* background-color: ivory; */
    flex-basis: 33.3333%;
    padding: 0.2rem;
    text-align: start;
    margin-bottom: 1rem;
}

#spec-title {
    font-size: 0.7rem;
    font-weight: 900;
    color: var(--secondaryColor);
    /* width: 20%; */
    /* margin: auto; */
    /* text-align: center; */
}

#spec-info {
    font-size: 1.1rem;
    /* font-weight: 500; */
    color: var(--showtitlebkg);
}

#spec-unit {
    font-size: 10px;
}
