.card-list-base {
}

.card-list-base.single-column {
}

.card-container {
    width: 100%;
    padding: 2rem;
    /* border-radius: 5px; */
    /* border: 1px solid var(--titlebkg); */
    border-bottom: 1px solid var(--showtitlebkg);
    /* background-color: var(--managecardbkg); */
    /* background-color: var(--showtitlebkg); */
    color: white;
    color: inherit;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    transition: all 600ms linear;
}

.card-container.basic {
    min-height: 15vh;
    align-items: normal;
}

.card-container.expanded {
    margin-top: 1rem !important;
    border-bottom: 1px solid whitesmoke;
    background-color: #dedede;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    border-radius: 1rem 1rem 0 0;
}

.card-container.expanded .card-title {
    color: var(--secondaryColor);
}
.card-container.sub-card {
    /* background-color: #efefef; */
    background-color: #dedede;
    border-bottom: 1px solid #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sub-cards-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    /* padding-top: 1rem; */
    width: 100%;
    border-bottom: 1px solid var(--secondaryColor);
}

.card-title-box.basic {
    flex: 1;
}

.card-title-box.basic {
    flex: 0.5;
}

.card-title {
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    align-self: flex-start;
    color: var(--showtitlebkg);
    margin: 0;
}
.card-title.basic {
    margin-bottom: 3rem;
}
.card-info-box {
    height: 100%;
    background-color: #eee;
}

.card-btn-set.basic {
    align-self: flex-start;
}

.card-operation-btn svg {
    fill: var(--showtitlebkg);
    opacity: 0.8;
    transition: all 100ms linear;
}

.card-operation-btn:hover svg {
    opacity: 1;
    fill: var(--hoverColor);
}

.card-operation-btn.active svg {
    fill: var(--secondaryColor);
}
.card-operation-btn.active:hover svg {
    fill: var(--hoverColor);
    transition: none;
}

.active svg {
    transform: rotate(180deg);
    transition: all 500ms linear;
}
.basic-card-title-tail {
    font-weight: normal;
}
.basic-card-title-complement {
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 0.5rem;
    color: var(--linkedTagColor);
}

#basic-card-free-fill-area {
    justify-content: start;
}

#basic-card-free-fill-area p {
    text-align: start;
}

#spec-card {
    /* background-color: ivory; */
    flex-basis: 33.3333%;
    padding: 0.2rem;
    text-align: start;
    margin-bottom: 1rem;
}

#spec-title {
    font-size: 0.7rem;
    font-weight: 900;
    color: var(--secondaryColor);
    /* width: 20%; */
    /* margin: auto; */
    /* text-align: center; */
}

#spec-info {
    font-size: 1.1rem;
    /* font-weight: 500; */
    color: var(--showtitlebkg);
}

#spec-unit {
    font-size: 10px;
}
