.card-list-base {
}

.card-list-base.single-column {
}

.card-container {
    min-height: 15vh;
    padding: 2rem;
    /* border-radius: 5px; */
    /* border: 1px solid var(--titlebkg); */
    border-bottom: 1px solid var(--showtitlebkg);
    /* background-color: var(--managecardbkg); */
    /* background-color: var(--showtitlebkg); */
    color: white;
    color: inherit;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.card-title-action-box {
    flex: 0.5;
}
.card-title {
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    align-self: flex-start;
    color: var(--showtitlebkg);
    margin-bottom: 3rem;
}
.card-title-box {
}

.card-btn-set {
    align-self: flex-start;
}

.card-operation-btn svg {
    fill: var(--showtitlebkg);
    opacity: 0.8;
    transition: all 100ms linear;
}

.card-operation-btn:hover svg {
    opacity: 1;
    fill: var(--hoverColor);
}

.basic-card-title-tail {
    font-weight: normal;
}
.basic-card-title-complement {
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 0.5rem;
    color: var(--linkedTagColor);
}
