.input-block {
    display: flex;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}

.dual-label-box {
    display: flex;
    flex-direction: column;
    /* width: 20%; */
    flex: 2;
}

.text-input-label {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;
    padding-left: 0.8rem;
    /* padding-bottom: 5px; */
    margin-bottom: 0;
}

.text-input-label-comment {
    flex: 1;
    font-size: 0.6rem;
    /* padding-bottom: 1rem; */
    /* min-height: 30px; */
}

.input-with-error-box {
    flex: 6;
    display: flex;
    flex-direction: column;
}

.form-text-input {
    flex: 5;
    padding: 0.5rem;
    /* min-height: 40px; */
    height: 40px;
    /* border-color: var(--titlebkg); */
    border-bottom: 1px solid var(--taDark);
    /* width: 100%; */
}

.input-error {
    flex: 1;
    /* height: 0; */
    text-align: start;
    transition: all 0.5s;
}

.input-error-message {
    color: tomato;
    font-size: 10px;
    font-weight: bold;
    height: 0;
    transition: all 0.5s;
}

.embeded-loading {
    /* fill: orange; */
    color: coral;
}

.dual-label-dropdown {
    color: inherit !important;
    font-size: inherit !important;
}

.MuiInput-underline:before,
.MuiInput-underline:after {
    border: none !important;
    transition: none !important  ;
}

.dual-label-dropdown-selectMenu {
    text-align: right;
}
.dual-label-dropdown-selectMenu:focus {
    background-color: inherit !important;
}

.MuiMenuItem-root,
.MuiInputBase-root {
    font-size: inherit !important;
}

.MuiAutocomplete-option {
    font-size: 12px;
}

.MuiAlert-root,
.MuiTypography-body1 {
    font-family: inherit !important;
}

.MuiTypography-body1 {
    text-align: right;
}

.MuiAlert-message {
    width: 100%;
    text-align: start;
    font-size: 0.8rem;
}
