:root {
    --main-bkg: whitesmoke;
    /* --main-bkg: rgb(52, 76, 98); */

    --link-bkg: rgb(255, 255, 255, 0.6);

    /* --link-bkg-hover: rgb(0, 24, 173, 1); */
    --link-bkg-hover: var(--primaryColor);

    /* --titlebkg: var(--blue); */
    --titlebkg: linear-gradient(
        90deg,
        rgba(0, 24, 173, 1) 0%,
        rgba(2, 20, 105, 1) 100%
    );

    --formbkg: linear-gradient(
        90deg,
        rgba(255, 207, 27, 1) 0%,
        rgba(242, 193, 10, 1) 100%
    );

    /* --showtitlebkg: #000080; */
    --showtitlebkg: var(--titlebkg);
    --formtitlebkg: var(--indigo);

    --primaryColor: var(--blue);
    --primaryDarkColor: #000080;
    --primaryLightColor: grey;
    --primaryBkgColor: #eee;

    /* --secondaryColor: darkCyan; */
    --secondaryColor: #0a9218;
    --secondaryLightColor: #14b225;

    --secondaryGradient: linear-gradient(
        90deg,
        rgba(6, 176, 0, 1) 0%,
        rgba(41, 111, 27, 1) 100%
    );

    --linkedTagColor: lightcoral;
    /* --hoverColor: lightcoral; */
    --hoverColor: #ffc400;

    --taDark: #263238;
    --taOrange: #ff5733;
    /* --titlebkg: var(--dark); */
}

/* ANIMATIONS */
.null-enter-done,
.fade-enter-done,
.slide-up-enter-done,
.slide-right-enter-done,
.slide-left-enter-done {
    /* position: inherit !important; */
}
/* SLIDE LEFT */
.slide-left-enter,
.slide-left-appear {
    transform: translateX(100%);
}
.slide-left-enter-active,
.slide-left-appear-active {
    z-index: 4;
    transform: translateX(0%);
    transition: transform 1000ms linear;
}
.slide-left-exit {
    transform: translateX(0);
}
.slide-left-exit-active {
    z-index: 5;
    transform: translateX(-100%);
    transition: transform 1000ms linear;
}

/* SLIDE Right */
.slide-right-enter,
.slide-right-appear {
    position: relative;
    z-index: 10;
    transform: translateX(-100%);
    background-color: darkgray;
}

.slide-right-enter-active,
.slide-right-appear-active {
    transform: translateX(0%);
    transition: transform 1000ms linear;
}
.slide-right-exit {
    /* transform: translate3d(0%, 0%, 0); */
    transform: translateY(-100%);
    z-index: 1;
}
.slide-right-exit-active {
    /* transform: translate3d(0%, 100%, 0); */
    transform: translateY(0%);
    transition: transform 1000ms linear;
}

/* TO HOME TRANSITION */
.to-home-enter,
.to-home-appear {
    transform: translateY(-100%);
}
.to-home-enter-active,
.to-home-appear-active {
    transform: translateY(0%);
    transition: transform 1000ms linear;
}

.to-home-exit {
    transform: translateY(-100%);
    opacity: 0.5;
}
.to-home-exit-active {
    transform: translateY(0%);
    opacity: 0;

    transition: all 1000ms linear;
}

/* Fade */
.fade-enter,
.fade-appear {
    opacity: 0;
    /* background-color: darkmagenta; */
}
.fade-enter-active,
.fade-appear-active {
    opacity: 1;
    transition: opacity 500ms linear;
}

.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms linear;
}

body {
    background-color: whitesmoke;
}

a:hover,
button:hover {
    color: var(--hoverColor);
}
.panel-main-content {
    /* position: absolute; */
    width: 100%;
    min-height: 100%;
    /* background-color: yellow; */
}
.panel-body {
}

.panel-side-area {
    flex: 1;
    z-index: 98;
    /* background: var(--main-bkg); */
}
.layout-content {
    min-height: 84vh;
    background: var(--main-bkg);
    /* margin: auto; */
}

.general-shadow {
    box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.18) !important;
}

.general-shadow.complex {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12) !important;
}
.main-content {
    background: var(--formbkg);
}
.btn-shadowed {
    background: rgba(255 255 255 / 25%) !important;
    padding: 0.5rem !important;
    align-items: center;
    box-shadow: 0px 0px 4px white;
    margin-right: 10px;
}

.global {
    font-family: "segoe ui light" !important;
}

.panel-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding: 10px; */
    /* height: 30vh; */
    /* width: 40%; */
    /* margin: auto; */
}

.panel-link {
    flex: 0 0 30%;
    position: relative;
    flex-direction: column;
    width: 25%;
    order: 100;
    /* width: calc(100% / 5); */
    height: 15vh;
    padding: 15px;
    color: grey;
    /* font-weight: bold; */
    font-weight: 400;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: transparent; */
    background: var(--link-bkg);

    color: var(--primaryColor);
    box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.18) !important;
    box-shadow: 2px 5px 15px rgb(125 125 125 / 18%) !important;

    /* transition: all 0.5s linear; */
}

.disabled {
    pointer-events: none;
}
.panel-link.disabled {
    background-color: #ddd;
    color: #aaa;
    justify-content: space-evenly;
}

.panel-link.notinstalled {
}

.panel-link.notactivated {
}

.panel-link > .link-tag {
    font-size: 8px;
    color: darkred;
    background-color: #aaa;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 40%;
    bottom: 1rem;
}

.panel-link:hover {
    /* flex: 1; */
    color: whitesmoke;
    background: var(--link-bkg-hover);
    font-weight: bold;
    /* font-size: calc(100% + 1px); */
}

.tool-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding: 10px; */
    /* height: 30vh; */
    /* width: 40%; */
    /* margin: auto; */
}

.tool-link {
    /* flex: 0.25; */
    position: relative;
    width: 100%;
    order: 100;
    /* width: calc(100% / 5); */
    height: 10vh;
    padding: 15px;
    color: grey;
    /* font-weight: bold; */
    font-weight: 400;
    border-radius: 5px;
    border: none;
    margin: 5px;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryColor);
    background: var(--link-bkg);
    box-shadow: 2px 2px 6px rgb(125 125 125 / 18%) !important;
}

.tool-link:hover {
    /* flex: 1; */
    color: whitesmoke;
    background: var(--link-bkg-hover);
    /* font-size: calc(100% + 1px); */
}

.tool-link.disabled {
    background-color: #ddd;
    color: #aaa;
    border: none;
    /* justify-content: space-evenly; */
}

.tool-link > .link-tag {
    font-size: 8px;
    color: red;
    background-color: #aaa;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 10%;
    left: 1rem;
}

.tool-link.notinstalled {
}

.tool-link.notactivated {
}

.panel-links.horizontal,
.tool-links.horizontal {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    height: 20vh;
    align-items: center;
    justify-content: flex-start;
}

.panel-links.horizontal .panel-link,
.tool-links.horizontal .tool-link {
    width: inherit;
    flex: 0 0 30%;
    height: 90%;
    /* background: var(--titlebkg); */
}

.tool-links.horizontal .tool-link {
    flex-basis: 20%;
}

.tool-links.horizontal .tool-link > .link-tag {
    width: 50%;
    bottom: 1rem;
    left: inherit;
    right: inherit;
}

.panel-links::-webkit-scrollbar,
.tool-links::-webkit-scrollbar {
    /* if scrollbar have a value problems will occured when mui modal opens   */
    /* height: 10px; */
    /* display: none; */
}

.panel-links::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    /* background-clip: content-box; */
}

.panel-links::-webkit-scrollbar-thumb {
    /* background-color: var(--titlebkg);
    max-width: 10px; */
    /* outline: 1px solid slategrey; */
    /* width: 5px; */
}

.link-tag {
    position: absolute;
}
.link-tag.notinstalled {
    background-color: indianred;
    color: whitesmoke;
}
.link-tag.notactivated {
    color: whitesmoke;
    background-color: tomato;
}

.panels-nav-bar {
    display: flex;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 8vh;
    background: var(--main-bkg);
    /* color: yellow; */
    z-index: 99;
}

.nav-bar-area {
    display: flex;
    margin: auto;
    flex-direction: row;
    padding: 0.5rem 1rem;
    align-items: flex-end;
}

.nav-btn {
    height: 30px;
    width: 30px;
    padding: 2px;
    background: none;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-btn svg {
    outline: none;
    /* fill: lightskyblue; */
    fill: #21255d;
    fill: var(--primaryColor);
    /* fill: salmon; */
    /* fill: white; */
}

.nav-title {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--primaryColor);
}

.component-title {
    margin-top: 5vh;
    text-align: end;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 1rem;
}

.title-text {
    font-size: 21px;
    /* font-weight: bold; */
    color: var(--primaryColor);
    color: #24c239;
    color: white;
}

.title-pretitle,
.title-posttitle,
.text-tail {
    font-size: 14px;
    flex-grow: 1;
    color: #ddd;
    /* border-bottom: 1px solid var(--titlebkg); */
}

.text-tail.post {
    background-color: var(--linkedTagColor);
    color: white;
    padding: 3px;
}

.page-header {
    z-index: 50;
    width: 100%;
    font-size: 21px;
    text-align: start;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 2vh;
    justify-content: center;
    align-items: center;
    height: 15vh;
    position: sticky;
    top: 8vh;
    background: whitesmoke;
    background: var(--titlebkg);
}

.view-header {
    background: var(--showtitlebkg);
    text-align: start;
    justify-content: flex-start;
    height: 12vh;
}

.view-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-set {
    font-size: 0.6rem;
    color: white;
}

.option-set {
    font-size: 0.6rem;
    color: white;
}

.operation-icon-btn {
    width: 30px;
    background: transparent;
    border: none;
    color: inherit;
    padding: 0;
    transition: all 500ms linear;
}
.operation-icon-btn.disabled svg {
    fill: #ddd;
}
.header-operation-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-operation-btn svg {
    /* fill: #24c239;
    fill: white; */
}

.header-operation-btn:hover svg {
    /* fill: deepskyblue;
    fill: #ffc107; */
}

.header-operation-btn.disabled svg {
    fill: gray;
}
.loading {
    /* margin: auto; */
}

.loading svg {
    width: 100%;
    height: 100%;
    /* fill: none;
    stroke: var(--primaryColor); */
}
.tag-set {
    margin-inline-end: 1rem;
}
.tag {
    padding: 0.4rem;
    background-color: darkcyan;
    color: white;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 0.2rem;
    width: 3rem;
    text-align: center;
    margin-inline-end: 0.1rem;
}

.tag.deleted {
    background-color: tomato;
}

.tag.suspended {
    background-color: darkorange;
}
.alert-action {
    width: 20px !important;
    height: 20px !important;
    color: white;
    margin-right: 1rem;
}

.alert-action svg {
    fill: white;
}

.fixed-alert {
}

.wait-alert {
    /* transition: all 1s linear; */
    height: 20vh !important;
}

.expandable-area {
    flex-wrap: wrap;
    margin-top: 1rem !important;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--secondaryColor);
}

.expandable-group-title {
    text-align: start;
    font-weight: 200;
    background: var(--secondaryGradient);
    color: white;
    padding: 0.8rem;
    font-size: 1rem;
}

.expandable-group-title:hover {
    font-weight: 300;
}

.expandable-group-title.disabled {
    background: #aaa;
}

.confirm-dialog {
    /* background-color: var(--warning) !important; */
    background: var(--formbkg);
}

.dialog-header-bar {
    width: 90%;
    margin: auto !important;
    min-height: 6vh;
}

.select-dialog-title {
    background: var(--formbkg);
    padding: 1rem;
    border-radius: 0px 0px 5px 5px;
    color: var(--gray-dark);
    font-weight: 900;
    font-size: 15px;
}

@media screen and (max-width: 1281px) {
    .panel-side-area {
        display: none;
    }
}
