:root {
    --main-bkg: whitesmoke;
    --titlebkg: var(--blue);
    --formtitlebkg: var(--indigo);
    --showtitlebkg: #000080;
    --managecardbkg: #000080;

    --primaryColor: var(--blue);
    --primaryBkgColor: #eee;

    --linkedTagColor: lightcoral;
    --hoverColor: lightcoral;

    --taDark: #263238;
    --taOrange: #ff5733;
    /* --titlebkg: var(--dark); */
}

/* ANIMATIONS */
.null-enter-done,
.fade-enter-done,
.slide-up-enter-done,
.slide-right-enter-done,
.slide-left-enter-done {
    /* position: inherit !important; */
}
/* SLIDE LEFT */
.slide-left-enter,
.slide-left-appear {
    transform: translateX(100%);
}
.slide-left-enter-active,
.slide-left-appear-active {
    z-index: 4;
    transform: translateX(0%);
    transition: transform 1000ms linear;
}
.slide-left-exit {
    transform: translateX(0);
}
.slide-left-exit-active {
    z-index: 5;
    transform: translateX(-100%);
    transition: transform 1000ms linear;
}

/* SLIDE Right */
.slide-right-enter,
.slide-right-appear {
    z-index: 10;
    transform: translateX(-100%);
}

.slide-right-enter-active,
.slide-right-appear-active {
    transform: translateX(0%);
    transition: transform 1000ms linear;
}
.slide-right-exit {
    transform: translateX(0);
    z-index: 9;
}
.slide-right-exit-active {
    transform: translateX(100%);
    transition: transform 1000ms linear;
}

/* SLIDE UP */
.slide-up-enter,
.slide-up-appear {
    transform: translateY(-100%);
}
.slide-up-enter-active,
.slide-up-appear-active {
    transform: translateY(0%);
    transition: transform 1000ms linear;
}

.slide-up-exit {
    transform: translateY(0);
}
.slide-up-exit-active {
    transform: translateY(100%);
    transition: transform 1000ms linear;
}

/* Fade */
.fade-enter,
.fade-appear {
    opacity: 0;
}
.fade-enter-active,
.fade-appear-active {
    opacity: 1;
    transition: opacity 500ms linear;
}

.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms linear;
}

body {
    background-color: whitesmoke;
}

.panel-main-content {
    /* position: absolute; */
    width: 100%;
    min-height: 100%;
    /* background-color: yellow; */
}
.panel-body {
    /* background-color: #ddd;   */
    flex: none; /* is prior to responsive innwe width */
    /* flex: 1.8; */
}

.panel-side-area {
    flex: 1;
    z-index: 99;
    /* background-color: var(--main-bkg); */
}
.layout-content {
    min-height: 84vh;
    background-color: var(--main-bkg);
    /* margin: auto; */
}

.general-shadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.18) !important;
}

.general-shadow.complex {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12) !important;
}

.global {
    font-family: "segoe ui light" !important;
}

.panel-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding: 10px; */
    /* height: 30vh; */
    /* width: 40%; */
    /* margin: auto; */
}

.panel-link {
    flex: 0 0 30%;
    position: relative;
    flex-direction: column;
    width: 25%;
    order: 100;
    /* width: calc(100% / 5); */
    height: 15vh;
    padding: 15px;
    color: grey;
    /* border: 2px solid var(--titlebkg); */
    /* font-weight: bold; */
    font-weight: 300;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--titlebkg);
    box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.18) !important;
}

.disabled {
    pointer-events: none;
}
.panel-link.disabled {
    background-color: #ddd;
    color: #aaa;
    justify-content: space-evenly;
}

.panel-link.notinstalled {
}

.panel-link.notactivated {
}

.panel-link > .link-tag {
    font-size: 8px;
    color: darkred;
    background-color: #aaa;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 40%;
    bottom: 1rem;
}

.panel-link:hover {
    /* flex: 1; */
    color: whitesmoke;
    background-color: var(--titlebkg);
    /* font-size: calc(100% + 1px); */
}

.tool-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding: 10px; */
    /* height: 30vh; */
    /* width: 40%; */
    /* margin: auto; */
}

.tool-link {
    /* flex: 0.25; */
    position: relative;
    width: 100%;
    order: 100;
    /* width: calc(100% / 5); */
    height: 10vh;
    padding: 15px;
    color: grey;
    /* background-color: var(--titlebkg); */
    border: 1px solid var(--titlebkg);
    /* font-weight: bold; */
    border-radius: 5px;
    margin: 5px;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--titlebkg);
    /* background-color: var(--taDark);
    color: whitesmoke; */
    /* box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.18) !important; */
}

.tool-link:hover {
    /* flex: 1; */
    color: whitesmoke;
    background-color: var(--titlebkg);
    /* font-size: calc(100% + 1px); */
}

.tool-link.disabled {
    background-color: #ddd;
    color: #aaa;
    border: none;
    /* justify-content: space-evenly; */
}

.tool-link > .link-tag {
    font-size: 8px;
    color: red;
    background-color: #aaa;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 10%;
    left: 1rem;
}

.tool-link.notinstalled {
}

.tool-link.notactivated {
}

.panel-links.horizontal,
.tool-links.horizontal {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    height: 20vh;
    align-items: center;
    justify-content: flex-start;
}

.panel-link.horizontal,
.tool-link.horizontal {
    width: inherit;
    flex: 0 0 30%;
    box-shadow: inherit !important;
    /* background-color: indianred; */
    height: 90%;
    border: 1px solid var(--titlebkg);
}

.tool-link.horizontal {
    flex-basis: 20%;
}

.panel-links::-webkit-scrollbar,
.tool-links::-webkit-scrollbar {
    /* if scrollbar have a value problems will occured when mui modal opens   */
    height: 10px;
}

.panel-links::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-clip: content-box;
}

.panel-links::-webkit-scrollbar-thumb {
    background-color: var(--titlebkg);
    max-width: 10px;
    /* outline: 1px solid slategrey; */
    /* width: 5px; */
}

.link-tag {
    position: absolute;
}
.link-tag.notinstalled {
    background-color: indianred;
    color: whitesmoke;
}
.link-tag.notactivated {
    color: whitesmoke;
    background-color: tomato;
}

.panels-nav-bar {
    display: flex;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 8vh;
    background: var(--main-bkg);
    /* color: yellow; */
    z-index: 99;
}

.nav-bar-area {
    display: flex;
    margin: auto;
    flex-direction: row;
    padding: 0.5rem 1rem;
    align-items: center;
}

.nav-btn {
    height: 35px;
    width: 35px;
    padding: 2px;
    background: none;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-btn svg {
    outline: none;
    /* fill: lightskyblue; */
    fill: #21255d;
    fill: var(--titlebkg);
    /* fill: salmon; */
    /* fill: white; */
}

.nav-title {
    font-size: 16px;
    /* font-weight: bold; */
    color: var(--primaryColor);
}

.component-title {
    margin-top: 5vh;
    text-align: end;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 1rem;
}

.title-text {
    font-size: 21px;
    /* font-weight: bold; */
    color: var(--titlebkg);
    color: #24c239;
    color: white;
}

.title-pretitle,
.title-posttitle,
.text-tail {
    font-size: 14px;
    flex-grow: 1;
    color: #ddd;
    /* border-bottom: 1px solid var(--titlebkg); */
}

.text-tail.post {
    background-color: var(--linkedTagColor);
    color: white;
    padding: 3px;
}

.page-header {
    z-index: 50;
    width: 100%;
    font-size: 21px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 2vh;
    justify-content: center;
    align-items: center;
    height: 15vh;
    position: sticky;
    top: 8vh;
    background: whitesmoke;
    background: var(--titlebkg);
}

.view-header {
    background: var(--showtitlebkg);
    text-align: start;
    justify-content: flex-start;
    height: 12vh;
}

.view-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.operation-icon-btn {
    width: 30px;
    background: transparent;
    border: none;
    color: inherit;
    padding: 0;
}
.header-operation-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-operation-btn svg {
    fill: #24c239;
    fill: white;
}

.header-operation-btn:hover svg {
    fill: deepskyblue;
    fill: #ffc107;
}

.loading {
    /* margin: auto; */
}

.loading svg {
    width: 100%;
    height: 100%;
    /* fill: none;
    stroke: var(--primaryColor); */
}

.tag {
    padding: 0.5rem;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 0.2rem;
}

.alert-action {
    width: 20px !important;
    height: 20px !important;
    color: white;
    margin-right: 1rem;
}

.alert-action svg {
    fill: white;
}

.fixed-alert {
}

.wait-alert {
    /* transition: all 1s linear; */
    height: 20vh !important;
}

@media screen and (max-width: 1281px) {
    .panel-side-area {
        display: none;
    }
}
