:root {
    --table-bkg: rgb(255, 255, 255, 0.4);
    /* --table-header-bkg: linear-gradient(
        90deg,
        rgba(56, 173, 0, 1) 0%,
        rgba(40, 156, 88, 1) 100%
    ); */
    --table-header-bkg: #14b225;
    --table-header-bkg: #0a9218;

    --table-header-font: initial;
    --table-secondary-color: var(--blue);
    --table-secondary-color-dark: ;
}

table {
    width: 100%;
    /* table-layout: fixed; */
    background-color: var(--table-bkg);
}

th,
thead {
    color: white;
}

thead {
    background: var(--table-header-bkg);
}

th,
td {
    text-align: start;
    padding: 0.5rem;
}

th {
    /* padding: 1em; */
    font-size: 0.8rem;
    font-weight: bold;
    position: sticky;
    top: 23vh;
    background: var(--table-header-bkg);
}

tr {
    border-bottom: 1px solid #ddd;
    /* border-bottom: 1px solid var(--table-secondary-color); */
    height: 75px;
    transition: all 400ms linear;
}
tr.expanded {
    color: var(--table-header-bkg);
    border-top: 2px solid var(--table-header-bkg);
    height: 100px;
    font-weight: bold;
}

tr.child-row {
    background: #eee;
    border-bottom: 1px solid #fff;
}

tr.child-row.last-row {
    border-bottom: 2px solid var(--table-header-bkg);
}

tr.child-row.expanded {
    /* color: steelblue; */
    /* border-top: 1px solid var(--table-header-bkg); */
}

tr.child-row.expanded.last-row {
    border-bottom: 1px solid #fff;
}

td {
    /* padding: 0.5rem; */
    cursor: default;
}

.selected-row {
    background-color: var(--table-secondary-color);
}

.table-operation-icon-btn {
    /* height: 20px; */
    /* flex: 1; */
    width: 25px;
    fill: var(--table-secondary-color);
    border: none;
    /* cursor: pointer; */
    background: none;
    /* margin: 0.1rem; */
    margin: 0.25rem;
}

.table-operation-icon-btn:focus {
    outline: none;
}

.table-operation-icon-btn.selected svg {
    fill: lemonchiffon;
}

.table-operation-icon-btn:hover svg {
    fill: var(--table-secondary-color-dark);
    /* width: calc(100% + 2%); */
}

.table-operation-icon-btn:disabled svg {
    fill: #ddd;
}

.table-row-btn-set {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-filter {
    color: var(--table-header-bkg);
}

.table-filter .list-option:hover {
    /* color: red; */
}
